:root {
  font-family: 'Nunito Sans', 'Open Sans', sans-serif;
  --primary: hsl(225, 100%, 90%);
  --primary-hover: hsl(225, 100%, 85%);
  --border-primary: hsl(225, 100%, 60%);
  --text-primary: hsl(225, 100%, 35%);
  --svg-primary: invert(13%) sepia(97%) saturate(3393%) hue-rotate(222deg) brightness(80%) contrast(100%);
  --cool-cubic: cubic-bezier(0.075, 0.82, 0.165, 1);
  --danger: hsl(0, 100%, 80%);
  --danger-hover: hsl(0, 100%, 75%);
  --border-danger: hsl(0, 100%, 60%);
  --success: hsl(125, 100%, 80%);
  --success-hover: hsl(125, 100%, 75%);
  --border-success: hsl(125, 100%, 60%);
}

.form-label {
  display: block;
  font-weight: bold;  
  margin-bottom: 0.1em;
}

.form-input {
  width: 100%;
  padding: 0.4em;
}

.btn {
  padding: 0.4em 0.8em;
  border-radius: 0.4em;
  cursor: pointer;
}

.btn:active {
  transform: scaleY(1.07);
}

.btn-primary {
  background-color: var(--primary);
  outline: none;
  border: thin solid var(--border-primary);
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}

.btn-danger {
  background-color: var(--danger);
  outline: none;
  border: thin solid var(--border-danger);
}

.btn-danger:hover {
  background-color: var(--danger-hover);
}

.btn-success {
  background-color: var(--success);
  outline: none;
  border: thin solid var(--border-success);
}

.btn-success:hover {
  background-color: var(--success-hover);
}


.d-none {
  display: none !important;
}

.modal-wrapper {
  background-color: rgba(0,0,0,.4);
  backdrop-filter: blur(4px);
  position: fixed;
  inset: 0;
  z-index: 2;
}

.modal-container {
  position: relative;
  overflow-y: auto;
  height: 100vh;
  width: 90%;
  max-width: 600px;
  margin: auto;
  top: 1rem;
  z-index: 0;
}

.modal {
  transform: translateZ(0);
  background-color: white;
  margin: auto;
  padding:1em;
  display: flex;
  flex-direction: column;
  gap:0.4em;
  position: absolute;
  left: 0;
  right: 0;
}

.modal__title {
  border-bottom: 1px solid black;
  padding-bottom: 0.4em;
}

.modal--show {
  animation: modal-show 400ms var(--cool-cubic) forwards;
}

.modal--hide {
  animation: modal-hide 400ms var(--cool-cubic) forwards;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

main {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  margin-bottom: 4rem;
}

.title {
  margin-bottom: 1rem;
}

.title {
  text-align: center;
}

.information {
  background-color:var(--primary);
  border: medium solid var(--border-primary);
  padding: 1rem;
  border-radius: .3rem;
  color:var(--text-primary);
}

.information::before {
  content: url('../icons/info.svg');
  display: inline-block;
  color: var(--text-primary);
  position: relative;
  bottom: -0.2em;
  margin-right: 0.3em;
  filter: var(--svg-primary);
}

.information__list-group {
  padding: 0.4rem 1rem;
}

.information__close {
  float: right;
  padding:0.2rem 0.4rem;
  border-radius: 5rem;
  background-color: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 200ms;
}

.information__close:hover {
  background-color: hsla(225, 100%, 35%, 0.3);
}

.information__close::after {
  content: 'X';
  color: var(--text-primary);
}

.todo-changer {
  display: flex;
  justify-content: space-between;
}

.todo-form {
  display: flex;
  flex-direction: column;
  gap:0.5em;
}

.todo-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.todo-label {
  width: fit-content;
  padding: 0.2rem 0.4rem;
}

.todo-label--pending {
  background-color: lightgoldenrodyellow;
}

.todo-label--overtime {
  background-color: salmon;
}

.todo-label--done {
  background-color: greenyellow;
}

.todo-list {
  box-shadow: 1px 1px 2px 1px gray;
  padding:1rem;
  border-radius: 0.4rem;
  list-style: none;
}

.todo-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap:0.8rem;
  margin-bottom: 0.8rem;
  text-transform: capitalize;
}

.todo-list p {
  line-height: 1.7rem;
}

.todo-action {
  display: flex;
  gap:1rem
}

.todo-action__btn {
  display: flex;
  align-items: center;
}

.todo-filter {
  padding:0.4em;
  box-shadow: 1px 1px 2px 1px gray;
  margin: 1em 0;
}

.todo-filter__title {
  margin-bottom: 0.4em;
}

.todo-filter__header {
  display: flex;
  justify-content: space-between;
}

.todo-filter__checkbox-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.todo-filter__checkbox {
  margin-right: 0.4em;
}

.cool-effect {
  animation: up 1s var(--cool-cubic);
  animation-fill-mode: forwards;
}

@keyframes up {
  from {
    transform: translateY(-1rem);
  }
  to {
    transform: translateY(0rem); 
  }
}

@keyframes modal-show {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes modal-hide {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05 );
  }
  100% {
    transform: scale(0);
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .btn {
    cursor: default;
  }
  :root {
    font-size: 14px;
  }
  .todo-list__header {
    align-items: start;
    justify-content:start;
    flex-direction: column;
  }
}
